@model IEnumerable<LIbrary.Data.Entities.History>

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>History</h2>
<table class="Grid">
    <tr>
        <th>User name</th>
        <th>Date</th>
        <th>Book title</th>
    </tr>
    @foreach ( var item in Model )
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Date</td>
            <td>@item.BookTitle</td>
        </tr>
    }
</table>
@Html.ActionLink( "Return to List", "Index" )